<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TargaInfoMobilityProcessor"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sistematica.apptemplate.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TargaInfoMobilityProcessor"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dmain.class.name=sistematica.infomobprocessor.InfoMobilityProcessor"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:TargaInfoMobilityProcessor/bin}"/>
</launchConfiguration>
