#map_toolBar
{
 position: relative;
 z-index: 1000;
 top: 10px;
 left: 30px;
}

.ttip{
  cursor :default;
  font-family:Arial; 
  font-size:10px;  
  z-index:1000;
  white-space:nowrap;
}

.ttip span
{
  position:absolute; 
  left:15px; 
  bottom:10px;
  color:#FF0000; 
  background: white;
  border: 1px solid black;
  padding:0px;
  z-index:100000;
}

.ttip img.ic0
{
 position:absolute; 
 left:-9px; 
 top:-24px;
}

/*
.ttip img.pointInter
{
 position:absolute; 
 left:-5px; 
 top: 20px;
}
*/

.pointInter
{
 position:absolute; 
 left:-5px; 
 top: -5px;
}

.ttip img.iconapoint
{
 position:absolute; 
 left:-5px; 
 top:-5px;
}

.ttip img.iconawaypoint
{
 position:absolute; 
 left:-9px; 
 top:-9px;
}





